@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

html, body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    background-color: #f7f7f7;
}
input, button, select, textarea {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: inherit;
}
input[type="button"], input[type="submit"], button {
    cursor: pointer;
}
.container {
    max-width: 1170px;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

/*************************************/

/*          header section start     */

/*************************************/
header {
    border-bottom: 1px solid #125fad;
}
header .navbar {
    padding: 0;
}
header .navbar-nav > li > a {
    color: #125fad !important;
    padding: 23px 12px !important;
}
header .navbar-nav > li > a:hover, header .navbar-nav > li > a:focus {
    background: #f4f4f4 none repeat scroll 0 0;
    color: #125fad;
}
header .navbar-nav .signup_li, header .navbar-nav .cart_li {
    margin-left: 15px;
}
header .navbar-nav .signup_li span.badge{
    color: #fff;
    font-size: 10px;
    height: 16px;
    line-height: 7px;
    padding: 5px 4px 5px 4px;
    position: absolute;
    right: -7px;
    top: -7px;
    width: 16px;
} 
header .navbar-nav .signup_li a {
    position: relative;
    border: 1px solid #ff7200 !important;
    border-radius: 3px !important;
    color: #ffffff !important;
    margin: 15px 0 0 !important;
    padding: 8px 15px !important;
    text-transform: none !important;
    width: auto !important;
    background-color: #ff7200 !important;
}
header .navbar-nav .signup_li:hover a {
    background: transparent !important;
    border: 1px solid #ff7200 !important;
    color: #ff7200 !important;
}
header .navbar-nav .login_li a {
    border: 1px solid #125fad !important;
    border-radius: 3px !important;
    margin: 14px 0 0 !important;
    padding: 8px 15px !important;
    text-transform: none !important;
    width: auto !important;
    cursor: pointer;
}
header .navbar-nav .login_li {
    margin-left: 20px;
}
header .navbar-nav .cart_li a {
    border: 1px solid #aaaaaa !important;
    border-radius: 3px !important;
    margin: 14px 0 0 !important;
    padding: 8px 15px !important;
    text-transform: none !important;
    width: auto !important;
    color: #aaaaaa !important;
}
header .navbar-nav .login_li:hover > a, header .navbar-nav .cart_li:hover a {
    background-color: #125fad !important;
    border-color: #125fad !important;
    color: #ffffff !important;
}
header .navbar-brand {
    padding: 0;
    margin-right: 0;
}
header .navbar-brand > img {
    width: 100%;
}
header .navbar-nav .dropdown-menu {
    border-radius: 0 !important;
    border-top: 3px solid #125fad;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    min-width: 160px;
    padding: 5px 0;
    z-index: 1000;
}
header .breadcrumb {
    background-color: transparent;
    font-size: 12px;
    margin-bottom: 0;
    padding: 15px 0;
}
header .breadcrumb > li {
    display: inline-block;
}
header .breadcrumb > li + li::before {
    content: ">> ";
    color: #cccccc;
    padding: 0 5px;
}
header .breadcrumb a{
    color: #196abc;
}
header .breadcrumb > .active {
    color: #999999;
}
.nav-search {
    margin-bottom: 5px;
}
.nav-search input[type="text"] {
    background: #f4f4f4 none repeat scroll 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0);
    box-shadow: none;
    height: 36px;
}
.nav-search input[type="text"] {
    border-bottom-color: #cccccc !important;
    border-left-color: #cccccc !important;
    border-top-color: #cccccc !important;
}
.nav-search .input-group-btn .btn {
    background: #f4f4f4 none repeat scroll 0 0;
    border-left: 1px solid rgba(0, 0, 0, 0) !important;
    font-size: 16px;
    border-color: #cccccc;
}


.navbar .navbar-brand{
    max-width: 200px;
    width: 100%;
}
header .navbar-nav .signup_li a,
header .navbar-nav .login_li .top_nav_login{
    display: inline-block !important;
}
header .navbar-nav .login_li .top_nav_login{
    font-weight: 700;
    background: transparent;
    color: #a1a1a1 !important;
    border: 1px solid #a1a1a1 !important;
    border-radius: 3px !important;
    margin: 15px 0 0 !important;
    padding: 8px 15px !important;
    text-transform: none !important;
    width: auto !important;
}
header .navbar-nav .login_li .top_nav_login:hover{
    background-color: #196abc !important;
    border: 1px solid #196abc !important;
    color: #fff !important;
    text-decoration: none;
}
header .navbar-nav li.login_li ul.dropdown-menu li a{
    padding: 4px 10px !important;
    border: none !important;
    width: 100% !important;
    float: left !important;
    margin: 2px 0!important;
    border-radius: 0 !important;
    text-decoration: none !important;
    color: #828282 !important;
}
header .navbar-nav .login_li ul.dropdown-menu li a:hover{
    background-color: #f5f5f5 !important;
    border: none !important;
    color: #196abc !important;
}
header .navbar-nav > li > a{
    background-color: transparent;
    border: 1px solid transparent;
    color: #a1a1a1 !important;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 23px 10px;
    text-transform: uppercase;
}
header .navbar-nav > li > a:hover,
header .navbar-nav > li > a:focus,
header .navbar-nav > li.active > a{
    background: transparent none repeat scroll 0 0;
    color: #196abc !important;
}
/*************************************/

/*          header section end       */

/*************************************/

/*************************************/

/*          footer section start     */

/*************************************/
.top-footer {
    background: rgba(69, 69, 69, 0.65);
    color: #FFF;
    font-size: 14px;
    padding: 15px 0;
}
.top-footer .poweredby, #sidebar .poweredby {
    vertical-align: middle;
    line-height: 30px;
}
.top-footer .poweredby img, #sidebar .poweredby img {
    margin-left: 7px;
    vertical-align: middle;
    height: 20px;
    width: auto;
}
.top-footer .poweredby > span, #sidebar .poweredby > span {
    display: inline-block;
    line-height: 30px;
    margin-top: 0;
    vertical-align: middle;
    font-size: 12px;
}

/* for sidebar powered by*/
.poweredbyRow .poweredby {
    border-bottom: 1px solid #dadce2;
    padding: 10px 0px;
}
.poweredby span {
    color: #FFF;
}
.bottom-footer {
    background: rgba(0, 0, 0, 0.65);
    color: gray;
    font-size: 14px;
    padding: 20px 0;
}
.bottom-footer a {
    color: gray;
}
.top-footer .col-lg-4 > a {
    color: #e1e1e1;
}
.bottom-footer a:hover, .top-footer a:hover {
    color: #FFF;
}
/*.language-switcher-container{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
    left: -145px;
}*/
.language-switcher-container .selectLanuage{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
    left: -145px;
}
.language-switcher-container a.lang-dropdown:hover{
    color: #333333;
}
.language-switcher-container .dropdown-toggle{
    background: rgb(140, 140, 140) !important;
    border-color: rgb(140, 140, 140) !important;
    color: #FFF;
}

/*************************************/

/*          footer section end       */

/*************************************/

/*************************************/

/*       middle section start        */

/*************************************/
.body_section {
    padding: 25px 0;
}
.body_section_white {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 4px;
}
.btn-orange, .btn-primary {
    background-color: #fe7201;
    background-image: linear-gradient(to bottom, #ff7200, #fe7201);
    background-repeat: repeat-x;
    border-color: #fe7201;
    color: #ffffff;
    text-shadow: none;
}
.btn-orange:hover, .btn-orange:focus, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: #fe7201;
    background-image: linear-gradient(to bottom, #ff7200, #fe7201);
    background-repeat: repeat-x;
    border-color: #fe7201;
    color: #333;
    text-decoration: none;
}
.btn-secondary {
    background-color: #428bca;
    background-image: linear-gradient(to bottom, #428bcc, #428bca);
    background-repeat: repeat-x;
    border-color: #428bca;
    color: #ffffff;
    text-shadow: none;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #125fad !important;
    background-image: linear-gradient(to bottom, #196aba, #125fad) !important;
    background-repeat: repeat-x !important;
    border-color: #125fad !important;
    color: #FFF !important;
}
.btn-grey {
    background-color: #F0F0F0;
    background-image: linear-gradient(to bottom, #F0F0F3, #F0F0F0);
    background-repeat: repeat-x;
    border-color: #F0F0F0;
    color: #000000;
    text-shadow: none;
}
.btn-grey:hover, .btn-grey:focus, .btn-grey:active {
    background-color: #F3F3F3;
    background-image: linear-gradient(to bottom, #F3F3F9, #F3F3F3);
    background-repeat: repeat-x;
    border-color: #F3F3F3;
    color: #000000 !important;
}
.btn-default {
    background-color: #EAE8E8;
    background-image: linear-gradient(to bottom, #EAE8E8, #EAE8E8);
    background-repeat: repeat-x;
    border-color: #EAE8E8;
    color: #413c3c;
    text-shadow: none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
    background-color: #428bca;
    background-image: linear-gradient(to bottom, #428bcc, #428bca);
    background-repeat: repeat-x;
    border-color: #428bca;
    color: #ffffff !important;
}
.btn-trash {
    background-color: #914343;
    background-image: linear-gradient(to bottom, #914343, #914343);
    background-repeat: repeat-x;
    border-color: #914343;
    color: #FFF !important;
    text-shadow: none;
}
.btn-trash:hover, .btn-trash:focus, .btn-trash:active {
    background-color: #B31E1E;
    background-image: linear-gradient(to bottom, #B31E1E, #B31E1E);
    background-repeat: repeat-x;
    border-color: #B31E1E;
    color: #FFF !important;
}
.top_trash_btn {
    margin-left: 3px;
    margin-top: 3px;
    color: #cfcfcf;
    background: none;
}
.btn-purple {
    background-color: #534558;
    background-image: linear-gradient(to bottom, #534558, #514558);
    background-repeat: repeat-x;
    border-color: #534558;
    color: #FFF !important;
    text-shadow: none;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
    background-color: #512c5d;
    background-image: linear-gradient(to bottom, #512c5d, #522c5d);
    background-repeat: repeat-x;
    border-color: #512c5d;
    color: #FFF !important;
}
.btn-twitter {
    background-color: #48aae6;
    background-image: linear-gradient(to bottom, #48aae6, #48aae8);
    background-repeat: repeat-x;
    border-color: #48aae6;
    color: #FFF !important;
    text-shadow: none;
}
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active {
    background-color: #1b95e0;
    background-image: linear-gradient(to bottom, #1b95e0, #1b95e1);
    background-repeat: repeat-x;
    border-color: #1b95e0;
    color: #FFF !important;
}
.btn_google_signup_url {
    background-color: #a54f52;
    background-image: linear-gradient(to bottom, #a54f52, #a54f52);
    background-repeat: repeat-x;
    border-color: #a54f52;
    color: #FFF !important;
    text-shadow: none;
}
.btn_google_signup_url:hover, .btn_google_signup_url:focus, .btn_google_signup_url:active {
    background-color: #a54f52;
    background-image: linear-gradient(to bottom, #a54f52, #a54f52);
    background-repeat: repeat-x;
    border-color: #a54f52;
    color: #FFF !important;
}
.btn-warning {
    color: #fff;
}
.btn-circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 0 0 1px;
    line-height: 26px;
}
.btn-circle i {
    font-size: 15px;
}
.btn-round {
    width: 28px;
    height: 28px;
    margin: 0 auto;
    padding: 0;
    line-height: 28px;
}
button.btn-round {
    line-height: 26px;
}
a.btn-round {
    line-height: 28px;
}
.col-pad-0 {
    padding-left: 0;
    padding-right: 0;
}
.hidden {
    display: none;
}
.sidebar_notification {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 99;
    color: #FFF;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 15px;
}
.sidebar_notification span, .sidebar_notification i {
    font-size: 16px;
}
.notification_saving {
    color: #c9c9c9;
}
.notification_success {
    color: #a8c87e;
}
.notification_alert {
    color: #e6af40;
}
.notification_fail {
    color: #b98a93;
}
.notification_abort {
    color: #90a0b0;
}

/*************************************/

/*       middle section end          */

/*************************************/

/*************************************/

/*          General class            */

/*************************************/
.m-l-10 {
    margin-left: 10px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-tb-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-tb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.m-b-0 {
    margin-bottom: 0;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-t-5 {
    margin-top: 5px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.p-t-8 {
    padding-top: 8px;
}
.p-t-10 {
    padding-top: 10px;
}
.p-t-15 {
    padding-top: 15px;
}
.p-b-5 {
    padding-bottom: 5px;
}
.p-b-10 {
    padding-bottom: 10px;
}
.p-b-15 {
    padding-bottom: 15px;
}
.p-tb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.p-tb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.p-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.p-lr-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.p-lr-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.bg-gry {
    background-color: #eef1f6;
}
.bg-dark-gry {
    background-color: #646060;
}
.blue-text {
    color: #125fad;
}
.gry-text {
    color: #ccc;
}
.border-bottom {
    border-bottom: 1px solid #e1e1e1;
}
.border-top {
    border-top: 1px solid #e1e1e1;
}
.border-left {
    border-left: 1px solid #e1e1e1;
}
.outline {
    border: 1px solid #ccc;
    border-radius: 6px;
}
.display-none {
    display: none;
}
.pos-relative {
    position: relative;
}
a.btn-primary:hover {
    color: #333 !important;
}
a.btn-danger:hover {
    color: #FFF !important;
}
.fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}
/*************************************/

/*        General class end          */

/*************************************/

/*************************************/

/*        color class start          */

/*************************************/

.whiteBG{
    background: #ffffff !important;
}
.red_bg, .orange_bg {
    background-color: #ff0000;
}
.gray_bg {
    background-color: #ff0000;
}
.blue_bg {
    background-color: #ff0000;
}
.yellow_bg {
    background-color: #ffff00;
}
.green_bg {
    background-color: #008000;
}
.medium_red {
    background-color: #cfb6bb;
}
.medium_orange {
    background-color: #d9b76f;
}
.medium_yellow {
    background-color: #dace8f;
}
.medium_green {
    background-color: #abbb96;
}
.medium_blue {
    background-color: #90a0b0;
}
.medium_purple {
    background-color: #bfaec4;
}
.medium_grey {
    background-color: #c9c9c9;
}
.medium_alt_red {
    background-color: #b98a93;
}
.medium_alt_orange {
    background-color: #e6af40;
}
.medium_alt_yellow {
    background-color: #dcca54;
}
.medium_alt_green {
    background-color: #a8c87e;
}
.medium_alt_blue {
    background-color: #526f8d;
}
.medium_alt_purple {
    background-color: #bb9bc6;
}
.medium_alt_grey {
    background-color: #a3a1a1;
}
.light_alt_red_bg {
    background-color: #fce5eb;
}
.light_alt_orange_bg {
    background-color: #ffefc7;
}
.light_alt_yellow_bg {
    background-color: #fefabf;
}
.light_alt_green_bg {
    background-color: #e6f6d1;
}
.light_alt_blue_bg {
    background-color: #e0ecf9;
}
.light_alt_purple_bg {
    background-color: #f2e5f7;
}
.light_alt_red_bg {
    background-color: #fce5eb;
}
.color-white {
    color: #FFF;
}
.color-green {
    color: #5cb85c;
}
.color-red {
    color: #d9534f;
}
.color-333 {
    color: #333 !important;
}
.color_light_red {
    color: #fef4f6;
}
.color_light_orange {
    color: #fff6e2;
}
.color_light_yellow {
    color: #fffde2;
}
.color_light_green {
    color: #f4fbeb;
}
.color_light_blue {
    color: #f3f9ff;
}
.color_light_purple {
    color: #fcf4ff;
}
.color_light_grey {
    color: #f7f7f7;
}
.color_light_alt_red {
    color: #fce5eb;
}
.color_light_alt_orange {
    color: #ffefc7;
}
.color_light_alt_yellow {
    color: #fefabf;
}
.color_light_alt_green {
    color: #e6f6d1;
}
.color_light_alt_blue {
    color: #e0ecf9;
}
.color_light_alt_purple {
    color: #f2e5f7;
}
.color_light_alt_grey {
    color: #eae8e8;
}
.color_dark_red {
    color: #624446;
}
.color_dark_orange {
    color: #56412e;
}
.color_dark_yellow {
    color: #594831;
}
.color_dark_green {
    color: #414937;
}
.color_dark_blue {
    color: #3f474f;
}
.color_dark_purple {
    color: #534558;
}
.color_dark_grey {
    color: #646060;
}
.color_dark_alt_red {
    color: #6a2532;
}
.color_dark_alt_orange {
    color: #5e3007;
}
.color_dark_alt_yellow {
    color: #5f3c00;
}
.color_dark_alt_green {
    color: #4e6234;
}
.color_dark_alt_blue {
    color: #2d465f;
}
.color_dark_alt_purple {
    color: #512c5d;
}
.color_dark_alt_grey {
    color: #413c3c;
}
.color_medium_red {
    color: #cfb6bb;
}
.color_medium_orange {
    color: #d9b76f;
}
.color_medium_yellow {
    color: #dace8f;
}
.color_medium_green {
    color: #abbb96;
}
.color_medium_blue {
    color: #90a0b0;
}
.color_medium_purple {
    color: #bfaec4;
}
.color_medium_grey {
    color: #c9c9c9;
}
.color_medium_alt_red {
    color: #b98a93;
}
.color_medium_alt_orange {
    color: #e6af40;
}
.color_medium_alt_yellow {
    color: #dcca54;
}
.color_medium_alt_green {
    color: #a8c87e;
}
.color_medium_alt_blue {
    color: #526f8d;
}
.color_medium_alt_purple {
    color: #bb9bc6;
}
.color_medium_alt_grey {
    color: #a3a1a1;
}

/*************************************/

/*        color class end            */

/*************************************/
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.02);
}
.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075) !important;
}
.table td, .table th, table.dataTable thead th {
    vertical-align: middle;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_disabled, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    background-color: #a3a1a1 !important;
}
.dataTables_wrapper table th {
    background-color: #a3a1a1;
    border: 0;
    color: #FFF;
}
.nav-tabs li a {
    background-color: #b9b9b9;
    color: #777;
    border-radius: 4px 4px 0 0;
    border-left: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
    border-top: 1px solid #b9b9b9;
    margin: 3px 1px 0;
}
.nav-tabs li a.active, .nav-tabs li a:hover {
    background-color: #a3a1a1 !important;
    border-color: #a3a1a1 !important;
    color: #ffffff;
    margin: 0 1px;
    padding: 0.65em 1em;
}
.nav-tabs li .nav-link.active, .nav-tabs li a.active span, .nav-tabs li a.active i {
    color: #FFF;
}
body:not(.nohover) tbody tr:hover {
    background-color: #fffdeb;
}
td:hover::after, th:hover::after {
    background-color: #fffdeb;
}
.dataTables_paginate ul.pagination li.paginate_button a i {
    font-size: 18px;
}

/* table filter */
table.dataTable .btnTHFilter{
    visibility: hidden;
}
table.dataTable th:hover .btnTHFilter{
    visibility: visible;
}

.badge {
    position: absolute;
    font-size: 11px;
    top: 5px;
    right: 5px;
    text-align: center;
    height: 14px;
    background-color: #d40000;
    padding: 2px 6px 2px 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: none !important;
}
.btnSaveTag {
    position: absolute;
    right: 4px;
    top: 4px;
}
.btnSwiftImageInsert{
    position: absolute;
    bottom: -10px;
    right: 0;
}
.mce-branding-powered-by, .mce-branding{
    display: none !important;
    opacity: 0;
    visibility: hidden;
}

/*bootstrap select hack for height*/
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 5px);
}

/* btn add new*/
.btnAddNew{
    position: relative;
    border:1px dashed #28a745;
    padding: 0 10px;
    color: #28a745 !important;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.4s;
    line-height: 28px;
    background-color: #fff;
    border-radius: 0px;
}
.btnAddNew:before {
    content: "\f067";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.btnAddNew:hover{
    border:1px solid #218838;
    background-color: #218838;
    color: #fff !important;
}
.mce-notification,
.mce-notification-inner{
    display: none !important;
}

/* Global Tags*/
.colTags a, a.taglink{
    background: #e3f0ff;
    border-radius: 0.25em;
    color: #333333;
    display: inline-block;
    margin: 5px 0 0 15px;
    padding: 5px 7px;
    text-decoration: none;
    position: relative;
}
.colTags a:hover, a.taglink:hover{
    background: #90a0b0;
    color: #ffffff !important;
    text-decoration: underline !important;
}
a.taglink:before{
    content: '';
    position: absolute;
    left: -14px;
    top: 50%;
    margin-top: -15px;
    border-top: 15px solid transparent;
    border-right: 15px solid #e3f0ff;
    border-bottom: 15px solid transparent;
}
a.taglink:hover:before{
    border-top: 15px solid transparent;
    border-right: 15px solid #90a0b0;
    border-bottom: 15px solid transparent;
}
/* Merge images/Colorbox */
.delAction {
    position: relative;
}
.delAction img, .delAction span{
    position: absolute;
    left: 50% !important;
    transform:translateX(-50%);
}
tr:hover .delAction img, tr:hover .delAction span{
    display: none;
}
.delAction input[type=checkbox].css-checkbox:checked + label.css-label + img,
.delAction input[type=checkbox].css-checkbox:checked + label.css-label + span{
    display: none;
}
.input_text_underline{
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}


/* Top page title editable */
.PageTitle_Editable{
    position: relative;
    margin-bottom: 30px;
}
.PageTitle_Editable input[type="text"] {
    font-weight: bold;
    border: 1px solid #f7f7f7;
    font-size: 24px;
    background-color: #f7f7f7;
    padding-left: 55px;
}
.PageTitle_Editable input[type="text"]:focus, .PageTitle_Editable input[type="text"]:hover {
    border: 1px solid #999;
    background: #fff;
}
.PageTitle_Editable .go_back {
    width: 46px;
    text-align: center;
    height: 46px;
    line-height: 46px;
    background-color: #b9b9b9;
    color: #FFF;
    border-radius: .25rem;
    position: absolute;
}
.PageTitle_Editable:hover .go_back {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
}
.PageTitle_Editable .go_back i {
    font-size: 18px;
    font-weight: 500;
}
.PageTitle_Editable .go_back:hover {
    background-color: #a3a1a1;
    color: #FFF;
}
.PageTitle_Editable span[data-toggle="tooltip"]{
    position: absolute;
    right: 30px;
    top: 12px;
}
/* Top page title editable end */


/* user website dropdown with ADD NEW option */
.userWebsitesDropdown select{

}
.userWebsitesDropdown .website_url{
    font-size: 18px;
    color: #005daa;
    text-decoration: underline;
    position: relative;
    border: 1px solid #f7f7f7;
    padding: 4px 10px;
}
.userWebsitesDropdown .website_url:hover{
    border: 1px solid #005daa;
    border-radius: 4px;
    text-decoration: none;
}
.userWebsitesDropdown .website_url:hover i{
    display: block;
}
.userWebsitesDropdown .website_url i{
    display: none;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 13px;
    background: #005daa;
    color: #FFF;
    padding: 2px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
}
.userWebsitesDropdown .addNewWebsiteContainer .websiteNewUrl, .changeEdit .website_options{
    width: 280px;
}
.userWebsitesDropdown .website_options {
    display: none;
    padding: 3px 8px;
    font-size: 18px;
    height: 37px !important;
}
.userWebsitesDropdown:hover .website_url{
    display: none;
}
.userWebsitesDropdown:hover .website_options{
    display: block;
}
.userWebsitesDropdown .changeEdit {
    position: relative;
    display: none;
}
.userWebsitesDropdown .changeEdit a{
    position: absolute;
    right: 0;
    top: 0px;
}
.userWebsitesDropdown .changeEdit a{
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 13px;
    background: #005daa;
    color: #FFF;
    padding: 2px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
}
.userWebsitesDropdown:hover .changeEdit{
    display: block;
}

.star_ON{
    color: #fff000 !important;
}
.star_Off{
    color: #fff !important;
}
.star_Off:hover{
    color: #fff000 !important;
}
.billing_ON{
    background: #428bca;
    color: #FFD700;
}
.billing_ON:hover{
    background: #125fad;
    color: #fff000 !important;
}
.billing_OFF{
    background: #c9c9c9;
    color: #333;
}
.billing_OFF:hover{
    background: #d8d8d8;
    color: #333 !important;
}

select.minimal:hover{
    background: #fff;
    border-color: rgba(0,0,0,.15);

    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) 1em,
        calc(100% - 16px) 1em,
        calc(100% - 0em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 0em;
    background-repeat: no-repeat;
}
select.minimal {
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: transparent;
    border-color: #f7f7f7;

    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 0px) calc(0em + 0px),
        calc(100% - 0px) calc(0em + 0px),
        calc(100% - 0em) 0em;
    background-size:
        0px 0px,
        0px 0px,
        0px 0px;
    background-repeat: no-repeat;
}
/*select.minimal option{
    text-transform: uppercase !important;
    font-size: 16px;
}*/
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    select.minimal:hover {
        background-size:
            5px 5px,
            5px 6px,
            1px 0em;
    }
}

/* Google Chrome and Safari CSS hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .btn-circle {
        /*padding-top: 1px;*/
    }
    .btn-circle i {
        /*margin-left: 1px;*/
    }
}
.btn-stripe{
    background-image: url("../images/stripe-s-icon.png");
    background-position: left 12px center;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.btn-stripe:hover{
    background-image: url("../images/stripe-s-icon-hover.png") !important;
    background-position: left 12px center;
    background-repeat: no-repeat;
    padding-left: 30px;
}
blockquote {
    background: #fffddc;
    color: #333;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 20px;
    margin: 0px 0px 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
th, td {
    text-align: left;
    padding: 10px;
}
td {
    font-size: 14px;
    padding: 10px;
    font-weight: 400;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #fffddc;
    color: #333;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 0.5;
}
/* Firefox < 19 */
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    opacity: 0.5;
}
/* Firefox > 19 */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    opacity: 0.5;
}
/* Internet Explorer 10 */
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    opacity: 0.5;
}

/*Tooltip Left Align*/
.tooltip-inner{
    text-align: left !important;
}
div.tooltip ul{
    margin: 0px;
    padding: 0px;
}
div.tooltip ul li{
    list-style: none;
    text-align: left !important;
}
.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2));
}
.modal-content{
    width: 100%;
}

/*Task Col Tags*/
.colTags > a {
    background: #e3f0ff;
    border-radius: 0.25em;
    color: #333;
    display: inline-block;
    margin-top: 5px;
    padding: 5px 7px;
}
.colTags > a:hover {
    background: #90a0b0;
    text-decoration: none;
    color: #fff;
}
.colTags ul{
    margin: 0px;
    padding: 0px;
}
.colTags ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 3px;
}
.colTags ul li a{
    font-size: 12px;
    line-height: 16px;
    position: relative;
    float: none;
    vertical-align: middle;
    margin-top: 0;
}
.colTags ul li a:hover{
    background-color: #90a0b0;
    text-decoration: underline;
    color: #fff !important;
}
.colTags ul li a:hover:hover:before {
    border-right: 14px solid #90a0b0;
}
.colTags ul li a:before{
    content: '';
    position: absolute;
    left: -12px;
    top: 50%;
    margin-top: -13px;
    border-top: 13px solid transparent;
    border-right: 13px solid #e3f0ff;
    border-bottom: 13px solid transparent;
}
.colTags ul li:hover .tagScore{
    display: block;
}
.tagScore{
    display: none;
    width: 100px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border:1px solid #e1e1e1;
    border-radius: 4px;
    background: #fff !important;
    z-index: 1;
    padding: 5px;   
}
.tagScore>i{
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-shadow: 0px -1px 0px #e1e1e1;
    z-index: 1;
}
.tagScore>a{
    margin: 0px !important;
    text-decoration: none;
    font-size: 14px !important;
    line-height: 18px !important;
    display: block !important;
    background: none !important;
    color: #333 !important;
    padding: 5px !important;
    float: none !important;
}
.tagScore>a:hover{
    text-decoration: none !important;
    background: #196abc !important;
}
.tagScore>a:before{
    display: none;
}
.userTagScore input[type=text]{
    width: 100%;
    display: inline-block;
}
.userTagScore .btn{
    opacity: 1 !important;
    padding: .25rem .5rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
    width: unset !important;
    height: unset !important;
    margin-left: 3px;
}
.invisible_field{
    border-color: transparent !important;
    background: transparent !important;
}
.invisible_field:hover{
    border-color: rgba(0,0,0,.15) !important;
    background: inherit !important;
}
@media (min-width: 576px){
    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2));
    }
}

.pagination > li > a,
.pagination > li > span{
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    color: #777777;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span{
    border-right: 1px solid #dddddd;
}



.btn-local {
    background-color: #ffd500;
    background-image: linear-gradient(to bottom, #ffd500, #ffd500);
    background-repeat: repeat-x;
    border-color: #ffd500;
    color: #333;
    text-shadow: none;
}
.btn-local:hover, .btn-local:focus, .btn-local:active {
    background-color: #a0ff40 !important;
    background-image: linear-gradient(to bottom, #a0ff40, #a0ff40) !important;
    background-repeat: repeat-x !important;
    border-color: #a0ff40 !important;
    color: #333 !important;
}